<div class="todo-container">
  <h2>My Todos</h2>
  
  @if (loading) {
    <div class="loading">
      Loading todos...
    </div>
  }
  @if (error) {
    <div class="error">
      {{ error }}
      <button (click)="loadTodos()" class="retry-btn">Retry</button>
    </div>
  }
  @if (!loading && !error) {
    <div class="todo-list">
      @if (todos.length === 0) {
        <div class="empty-state">
          No todos found. Start by adding a new todo!
        </div>
      }
      
      @for (todo of todos; track todo.id) {
        <app-todo-item 
          [todo]="todo"
          (toggleComplete)="onTodoToggle($event)"
        />
      }
    </div>
  }


